.container-cardsection {
    flex-grow: 2;
}

.container-cardsection__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 0 10px #ccc;
}

.container-cardsection__card:hover {
    cursor: pointer;
}

.container-cardsection-card__container-data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
   
}

.container-cardsection-card__data {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: fit-content;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
}
.card-data {
    display: flex;
    gap: 10px;
}

.container-cardsection__image {
    max-width: 100px;
    min-width: 100px;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 10px #ccc;
}

.container-cardsection__image img {
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-cardsection-card__data h3 {
    text-align: center;
    padding: 10px;
   
}
.container-opciones {
   display: flex;
   flex-direction: column;
   justify-content: center;
   
   padding: 5px;
   border-radius: 4px;
}
.container-opciones__data {
    min-width: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-data p {
    color: #888;
}
.container-opciones__sinvariantes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}
.container-opciones__sinvariantes p {
    text-align: end;
}
.card-data h4 {
    color: #666;
    font-weight: bold;
}
/*------------------------------media mobile---------------------------------*/

@media (max-width: 550px) {
    .container-cardsection {
    padding: 50px 10px 0 10px;
}
  .container-cardsection__card h2 {
        scroll-margin-top: 400px; /* ← COMPENSACIÓN */
        padding: 10px; /* ← espacio extra */
    }
    
    .container-cardsection__card:first-child h2 {
        scroll-margin-top: 200px; /* ← Menos compensación para la primera categoría */
    }
}