.container-tamaño-opcion__seleccion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 50%;
    margin: 5px ;
}
.container-tamaño-opcion-seleccion__sumar-restar {
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: #ccc;
    gap: 20px;
    padding: 5px 10px;
}

.container-tamaño-opcion-seleccion__sumar-restar p {
    font-size: 1.5rem;
}
.container-modal span {
    padding: 0;
    font-size: 1.5rem;
}
.container-tamaño-opcion-seleccion__sumar-restar span:hover {
    cursor: pointer;
}
.container-modal h5, .container-modal h6 {
    font-size: 1.2rem;
    color: #666;
}

.container-modal button {
    font-size: 1.2rem;
    padding: 10px;
}

