.container-modal .confirmaryenvio {
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    background-color: #2389ef;
    font-size: 1.5rem;
}

.cancelarenvio {
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    background-color: #f53425;
}

.container-modal__recibirpedido {
    border: 2px solid #ccc;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    box-shadow: 0 0 10px #999;
}
.container-modal__recibirpedido label, .container-modal__metododpago label {
    font-weight: bold;
}
.container-modal__recibirpedido div {
    width: 100%;
    padding: 5px 10px;
}
.container-modal__recibirpedido select {
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: #efefef;
    padding: 5px;
    border-radius: 4px;
}

.radio-option {
    display: flex;
    justify-content: space-between;
}

.container-modal__metododpago {
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    gap: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px #999;
}
.container-modal__metododpago div {
    width: 100%;
    padding: 5px 10px;
}
.container-modal__metododpago select {
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: #efefef;
    padding: 5px;
    border-radius: 4px;
}

.mensaje-de-envio {
    display: flex;
    background-color: #239056;
    color: #fff;
    font-size: clamp(.7rem, 2.2vw, .9rem);
    gap: 10px;
    padding: 5px;
    border-radius: 4px;
    font-size: 1.5rem;
    box-shadow: 0 0 10px #999;
}

.mensaje-de-envio__no-incluido {
    background-color: #236936;
    border: 1px solid #fff;
    padding: 3px;
    border-radius: 4px;
    text-align: center;
}

.textarea-direccion {
    border: 1px solid #ccc;
    display: flex;
    box-shadow: 0 0 10px #999;
}


.textarea-direccion textarea {
    border: none;
    resize: none;
    outline: none;
    font-size: 1.2rem;
}