.modalexpired {
    position: absolute;
    display: flex;
    max-width: 100dvw;
    max-height: 100dvh;
    width: 100%;
    height: 100%;
    background-color: #2229;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.modalexpired__container {
    max-width: 500px;
    width: 100%;
    max-height: fit-content;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}