.section-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6665;
    padding: 10px;
    z-index: 100000;
}

.container-modal {
    background-color: #fff;
    padding: 30px 10px;
    border-radius: 4px;
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-modal__data {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.container-modal__image {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 4px;

}

.container-modal__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-modal__description {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.container-modal__container-description {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.container-modal__container-description div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-modal__container-description .container-modal__container-description_price {
    font-size: clamp(.75rem, 2.2dvw, 1.2rem);
}

.pricevariable {
    font-size: 1.2rem;
    max-height: 100%;
    display: flex;
    align-items: end;
}

.modal-button {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #2389ef;
    color: #fff;
    font-size: 1.2rem;
}

.container-modal .modal-buton-disable {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #79b9ff99;
    color: #fff;
    font-size: 1rem;
}

.modal-buton-disable p {
    flex-grow: 1;
}

.modal-button:hover {
    background-color: #2389cf;
    cursor: pointer;
}

.modal-button p {
    flex-grow: 1;
}

.modal-cerrar {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    text-align: center;
    border-radius: 50px;
    color: #888;
    font-weight: bold;
}

.modal-cerrar:hover {
    cursor: pointer;
}

.container-variantes {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
}

.container-variantes p {
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 1.2rem;
}

.container-variantes p:hover {
    cursor: pointer;
}

.container-unidades {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    font-size: 1.5rem;
}

.container-unidades div {
    display: flex;
    background-color: #ccc;
    padding: 5px 10px;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    gap: 20px;
    font-size: 1.3rem;
}

.container-unidades div p {
    font-size: 1.5rem;
}

.variantesOpcionesSeleccionadas {
    width: 100%;
}

.variantesOpcionesSeleccionadas__data {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.variantesOpcionesSeleccionadas__data div {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 550px) {
    .container-modal__container-description div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
        background-color: transparent;
    }
}